<div class="header navbar-fixed-top">
    <div class="container-fluid">
        <div class="setting-btn">
            <a href="/setting"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
        </div>
    </div>
</div>