<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <meta name="author" content="HOME ASSISTANT"/>
    <meta name="description" content="User local web assistant"/>
    <meta name="keywords" content="go web"/>
    <meta name="_csrf" content="{{.CSRFToken}}">

    <!-- Stylesheets -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/todc-bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/bootstrapValidator.min.css" rel="stylesheet"/>
    <link href="/css/book.css" rel="stylesheet"/>

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrapValidator.min.js"></script>
    <script src="/js/zh_CN.js"></script>
    <script src="/js/book.js"></script>

    <title>{{ .Title }} | Golang Book Home</title>
</head>
<body>
<noscript>Please enable JavaScript in your browser!</noscript>