body {
    padding-top: 70px;
    /*background-color: #2e6da4;*/
}

.setting-btn {
    float: right;
    /*vertical-align: top;*/
    position: relative;
    right: 10px;
    width: 40px;
    border: 0;
    padding: 5px;
}

#search-text {
    border-radius: 5px;
}