{{ template "base/header" .}}
{{ template "search/search_bar" .}}
<p>找到 {{ .count }} 条结果(用时{{ .time }}s)</p>
<ul class="list-group">
{{ range .searchContents }}
    <li class="list-group-item">
        <a target="_blank" href="/chapter?url={{ .Origin }}&novel_name={{ .NovelName }}">
            <div>
                <i>{{ .Title }}</i>
                <i href="{{ .Origin }}">查看源网址</i>
                {{ if .IsParse}}
                    <span>已解析</span>
                {{ else }}
                    <span>未解析</span>
                {{ end }}
            </div>
        </a>
    </li>
{{ end }}
</ul>
{{ template "base/footer" .}}